@(todos: scala.collection.mutable.ArrayBuffer[models.Todo])(implicit request: play.api.mvc.RequestHeader)

@main("TODO List") {
  <h1>TODO List</h1>

  <form method="POST" action="@routes.TodoController.add()">
    @helper.CSRF.formField
    <input type="text" name="title" placeholder="Add a new task" required>
    <button type="submit">Add</button>
  </form>

  <ul>
    @for(todo <- todos.zipWithIndex.filter(!_._1.completed)) {
      <li>
        @todo._1.title
        <a href="@routes.TodoController.switch(todo._2)">[Done]</a>
      </li>
    }
  </ul>

  <p>done</p>
  <ul>
    @for(todo <- todos.zipWithIndex.filter(_._1.completed)) {
      <li class="completed">
        <span>@todo._1.title</span>
        <a href="@routes.TodoController.switch(todo._2)">[Undo]</a>
      </li>
    }
  </ul>
}

